<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="filePath" value="C:\Users\Student\Desktop\Tournament_Tracker\TournamentTracker\TournamentDataFile" />
    <add key="greaterWins" value="1" />
    <add key="senderEmail" value="seanamckinney8@gmail.com" />
    <add key="senderDisplayName" value="Sean McKinney" />
  </appSettings>
  <connectionStrings>
    <add name="Tournaments" connectionString="Server=LAPTOP-CB78AN7D\SQLEXPRESS;Database=Tournaments;Trusted_Connection=True;" providerName= "System.Data.SqlClient"/>
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="" userName="Sean McKinney" password="password" port="25" enableSsl="false"/>
      </smtp>
    </mailSettings>
  </system.net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>